.Header {
    display: flex;
    overflow-x: hidden;
    margin: 25px 0;
}

.Title {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

#ErrorHeading {
    font-family: 'Rammetto One', cursive;
    font-size: 125px;
    text-align: right;
    text-transform: uppercase;
    color: #2C8D8A;
    line-height: 95%;
}

.ErrorContainer {
    text-align: center;
}

.GoToGames {
    margin: 20px;
    padding: 30px;
    font-size: 20;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #B6EB7A;
    background-color: #2C8D8A;
    border-radius: 10px;
    box-shadow: 0px 3px 6px #00000021;
}

.GoToGames:active {
    background-color: #17706E;
}
