/*
*===IMPORTS===
*/

@import "../App.css";

h1 {
    font-family: 'Rammetto One', cursive;
    font-size: 65px;
    text-align: left;
    text-transform: uppercase;
    color: #2C8D8A;
    line-height: 95%;
}

#Dice {
    margin: 50px;
}

#NeverHaveIEverCont {
    font-size: 30px;
    font-style: italic;
    margin: 60px 0;
}

#PlayBtn {
    margin: 50px;
}

#PlayBtn:active {
    opacity: 0.3;
}

.Finish {
    margin: 20px;
    padding: 10px;
    font-size: 20;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #B6EB7A;
}

.GameContent {
    text-align: center;
}