/*
*===IMPORTS===
*/

@import "../App.css";

.Header {
  display: flex;
  overflow-x: hidden;
}

.Title {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

h1 {
  font-family: 'Rammetto One', cursive;
  font-size: 65px;
  text-align: right;
  text-transform: uppercase;
  color: #2C8D8A;
  line-height: 95%;
}

.GameCard {
  background-color: #2C8D8A;
  padding: 15px;
  margin: 25px 0;
  height: 150px;
  border-radius: 15px;
  box-shadow: 0px 3px 6px #00000021;
}

.GameCard:active {
  background-color: #17706E;
}
