/*
*===IMPORTS===
*/
@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Rammetto+One&display=swap');

.App {
  margin: 10px;
  padding: 5px;
  font-family: 'Asap', sans-serif;
}
